<style>
    body {
        background: url(https://i.pinimg.com/originals/16/e3/af/16e3afca1c0fdd1bfb2cb67ed1519a76.jpg) repeat fixed;
    }
</style>


<b style=" color: white"> Permiso denegado correctamente!! </b>

<br />
<br />
<br />
<a href="~/PermisoDenegadoPorRols/Create" class="btn btn-info">Seguir agregando Denegaciones</a>

<br />
<br />


<a href="~/PermisoDenegadoPorRols/Index" class="btn btn-success">Continuar</a>

