USE [master]
GO
/****** Object:  Database [DataBase]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE DATABASE [DataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBase', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataBase.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataBase_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataBase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Adjunto]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adjunto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Alumno_id] [int] NOT NULL,
	[Archivo] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.Adjunto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Sexo] [int] NOT NULL,
	[FechaNacimiento] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Alumno] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AlumnoCurso]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoCurso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Alumno_id] [int] NOT NULL,
	[Curso_id] [int] NOT NULL,
	[Nota] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.AlumnoCurso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Curso]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Curso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permiso](
	[PermisoID] [int] NOT NULL,
	[Modulo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Permiso] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PermisoDenegadoPorRol]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoDenegadoPorRol](
	[PermisoID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PermisoDenegadoPorRol] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC,
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/27/2017 8:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Correo] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Rol_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Alumno_id]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Alumno_id] ON [dbo].[Adjunto]
(
	[Alumno_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Alumno_id]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Alumno_id] ON [dbo].[AlumnoCurso]
(
	[Alumno_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Curso_id]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Curso_id] ON [dbo].[AlumnoCurso]
(
	[Curso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermisoID]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_PermisoID] ON [dbo].[PermisoDenegadoPorRol]
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolID]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_RolID] ON [dbo].[PermisoDenegadoPorRol]
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rol_id]    Script Date: 9/27/2017 8:56:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rol_id] ON [dbo].[Usuario]
(
	[Rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adjunto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adjunto_dbo.Alumno_Alumno_id] FOREIGN KEY([Alumno_id])
REFERENCES [dbo].[Alumno] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjunto] CHECK CONSTRAINT [FK_dbo.Adjunto_dbo.Alumno_Alumno_id]
GO
ALTER TABLE [dbo].[AlumnoCurso]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlumnoCurso_dbo.Alumno_Alumno_id] FOREIGN KEY([Alumno_id])
REFERENCES [dbo].[Alumno] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoCurso] CHECK CONSTRAINT [FK_dbo.AlumnoCurso_dbo.Alumno_Alumno_id]
GO
ALTER TABLE [dbo].[AlumnoCurso]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlumnoCurso_dbo.Curso_Curso_id] FOREIGN KEY([Curso_id])
REFERENCES [dbo].[Curso] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoCurso] CHECK CONSTRAINT [FK_dbo.AlumnoCurso_dbo.Curso_Curso_id]
GO
ALTER TABLE [dbo].[PermisoDenegadoPorRol]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PermisoDenegadoPorRol_dbo.Permiso_PermisoID] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permiso] ([PermisoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoDenegadoPorRol] CHECK CONSTRAINT [FK_dbo.PermisoDenegadoPorRol_dbo.Permiso_PermisoID]
GO
ALTER TABLE [dbo].[PermisoDenegadoPorRol]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PermisoDenegadoPorRol_dbo.Rol_RolID] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoDenegadoPorRol] CHECK CONSTRAINT [FK_dbo.PermisoDenegadoPorRol_dbo.Rol_RolID]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuario_dbo.Rol_Rol_id] FOREIGN KEY([Rol_id])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_dbo.Usuario_dbo.Rol_Rol_id]
GO
USE [master]
GO
