@model System.Web.Mvc.HandleErrorInfo

<style>
    body {
        background: url(https://i.pinimg.com/originals/16/e3/af/16e3afca1c0fdd1bfb2cb67ed1519a76.jpg) repeat fixed;
    }
</style>


@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger"  style=" color: white">Error.</h1>
<h2 class="text-danger"  style=" color: white">An error occurred while processing your request.</h2>

