<style>
    body {
        background: url(https://i.pinimg.com/originals/16/e3/af/16e3afca1c0fdd1bfb2cb67ed1519a76.jpg) repeat fixed;
    }
</style>


<b style=" color: white"> Esta relacion ya ha sido creada, por ende no puede ser repetida... </b>


<a href="~/Plan_Service/Create" class="btn btn-info">Agregar Referencia</a>

<a href="~/Plans/Index" class="btn btn-success">Continuar</a>


